{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deneme</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/labeling.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

</head>
    <body>
        <div class="labels-container">
            <h2>Deneme</h2>
            <ul>
                {% for label in labels %}
                <div class="label-container">
                    <li class="label" data-x="{{ label.x|calc_x:label.w }}"data-y="{{ label.y|calc_y:label.h }}"data-w="{{ label.w|calc_w }}"data-h="{{ label.h|calc_h }}" data-id="{{ label.id }}" >Label-{{ label.id }}</li>
                    <div class="label-details" id="label-details-{{ label.id }}">
                        <p>X: <span class="label-x">{{ label.x|calc_x:label.w }}</span></p>
                        <p>Y: <span class="label-y">{{ label.y|calc_y:label.h }}</span></p>
                        <p>Width: <span class="label-w">{{ label.w|calc_w }}</span></p>
                        <p>Height: <span class="label-h">{{ label.h|calc_h }}</span></p>
                        <a href="{% url 'delete_label' label_id=label.id %}">
                            <button >DELETE</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
        
        <div class="frame-container">
            <!-- Canvas elementini buraya ekleyin -->
            <p>{{frame.frame.url | basename | remove_extension }}/{{frame_last.frame.url | basename | remove_extension }}</p>
            <canvas id="myCanvas" class="frame-img"></canvas>

            <div id="mouseCoordinates"></div>
            <div id="delete-button-detail">

            </div>
            <form style="display: none;" id="label-form" action="{% url 'add_label' frame_id=frame.id %}" method="post">
                {% csrf_token %}
        
                <input id="x-input" name="x" step="0.000000000000001" type="number">
                <input id="y-input" name="y" step="0.000000000000001" type="number">
                <input id="w-input" name="w" step="0.000000000000001" type="number">
                <input id="h-input" name="h" step="0.000000000000001" type="number">
                <button type="submit" style="display: none;">Add Label</button>
            </form>
            {% for label in labels %}
            <div class="label-container">
                <div class="label-details-frame" id="label-details-frame-{{ label.id }}">
                    
                    
                    <a style="text-decoration: none; color: white;" href="{% url 'delete_label' label_id=label.id %}">
                        <span>Label-{{ label.id }}</span><button >DELETE</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="right">
            {% if frame_next_id != 0 %}
                <div class="nextBtn">
                    <a href="{% url 'labeling' frame_id=frame_next_id %}">
                        <button style="color: rgb(47, 65, 79);" class="back-button">
                            <i class="fa-solid fa-angles-right"></i>
                        </button>
                    </a>
                </div>
            {% else %}
                <div class="nextBtn">
                    <a href="{% url 'home' %}">
                        <!-- Buraya 'home' url'ini kullanarak gitmek istediğiniz sayfanın bağlantısını ekleyebilirsiniz -->
                        <button style="color: rgb(47, 65, 79);" class="back-button">
                            <i class="fa-solid fa-angles-right"></i>
                        </button>
                    </a>
                </div>
            {% endif %}
            <div class="homeBtn">
                <a href="{% url 'video' user_video_id=video.id %}">
                    <button style="color: rgb(47, 65, 79);" class="back-button">
                        <i class="fa-solid fa-house"></i>
                    </button>
                </a>
            </div>
            {% if frame_previous_id != 0 %}
                <div class="backBtn">
                    <a href="{% url 'labeling' frame_id=frame_previous_id %}">
                        <button style="color: rgb(47, 65, 79);" class="back-button">
                            <i class="fa-solid fa-angles-left"></i>
                        </button>
                    </a>
                </div>
            {% endif %}
            <div class="drawBtn">
                <a href="#">
                    <button id="draw-label-button" style="color: rgb(47, 65, 79);" class="back-button">
                        <i class="fa-solid fa-pencil"></i>                    
                    </button>
                </a>
            </div>
            <div class="drawBtn">
                <a href="#">
                    <button id="drag-label-button" style="color: rgb(47, 65, 79);" class="back-button">
                        <i class="fa-solid fa-hand"></i>                    
                    </button>
                </a>
            </div>
            
        </div>
        <script>
            // Resmin yüklendiğinde çalışacak olan fonksiyon
           // Canvas elementini seç
var canvas = document.getElementById('myCanvas');
var context = canvas.getContext('2d');
var labels = document.querySelectorAll('.label');
var startX, startY; // İlk tıklanan noktanın koordinatları
var isDrawing = false; // Etiket çizimi devam ediyor mu?
var isDraging = false; // Etiket çizimi devam ediyor mu?

var  endX, endY;
document.getElementById('draw-label-button').addEventListener('click', function() {
    isDrawing = true;
    // İlk tıklama noktasının koordinatlarını sıfırla
    startX = null;
    startY = null;
});

document.getElementById('drag-label-button').addEventListener('click', function() {
    isDraging = true;
    // İlk tıklama noktasının koordinatlarını sıfırla
    startX = null;
    startY = null;
    console.log('drag');

});

canvas.addEventListener('click', function(event) {
    // Etiket çizimi devam ediyorsa
    if (isDrawing) {
        // Tıklanan noktanın koordinatlarını al
        var rect = canvas.getBoundingClientRect();
        var mouseX = event.clientX - rect.left;
        var mouseY = event.clientY - rect.top;

        // İlk noktayı belirle
        if (!startX && !startY) {
            startX = mouseX;
            startY = mouseY;
            startX = Math.floor(startX * canvas.width / rect.width);
            startY = Math.floor(startY * canvas.height / rect.height);
            //console.log('İlk start (x,y):', startX, startY);

        } else {
            // İkinci noktayı belirle ve etiketi çiz

            mouseX = Math.floor(mouseX * canvas.width / rect.width);
            mouseY = Math.floor(mouseY * canvas.height / rect.height);
            //console.log('2. nokta (x,y):', mouseX, mouseY);

            var width = mouseX - startX;
            var height = mouseY - startY;
            context.strokeRect(startX, startY, width, height);

            document.getElementById('x-input').value = parseFloat(startX);
            document.getElementById('y-input').value = parseFloat(startY);
            document.getElementById('w-input').value = parseFloat(width);
            document.getElementById('h-input').value = parseFloat(height);

            // Formu gönder
            document.getElementById('label-form').submit();

            // Etiket çizimini bitir
            isDrawing = false;
            // Etiket çizimini bitir
            isDrawing = false;

            // Etiketin koordinatlarını ve boyutunu yazdır
            //console.log('Genişlik:', width);
            //console.log('Yükseklik:', height);
        }
    }
    if (isDraging) {
        // Tıklanan noktanın koordinatlarını al
        var rect = canvas.getBoundingClientRect();
        var mouseX = event.clientX - rect.left;
        var mouseY = event.clientY - rect.top;

        // İlk noktayı belirle
        if (!startX && !startY) {
            startX = mouseX;
            startY = mouseY;
            startX = Math.floor(startX * canvas.width / rect.width);
            startY = Math.floor(startY * canvas.height / rect.height);
            //console.log('İlk start (x,y):', startX, startY);

        } else {
            // İkinci noktayı belirle ve etiketi çiz

            mouseX = Math.floor(mouseX * canvas.width / rect.width);
            mouseY = Math.floor(mouseY * canvas.height / rect.height);
            //console.log('2. nokta (x,y):', mouseX, mouseY);

            var width = mouseX - startX;
            var height = mouseY - startY;
            context.strokeRect(startX, startY, width, height);

            document.getElementById('x-input').value = parseFloat(startX);
            document.getElementById('y-input').value = parseFloat(startY);
            document.getElementById('w-input').value = parseFloat(width);
            document.getElementById('h-input').value = parseFloat(height);

            // Formu gönder
            document.getElementById('label-form').submit();

            // Etiket çizimini bitir
            isDrawing = false;
            // Etiket çizimini bitir
            isDrawing = false;

            // Etiketin koordinatlarını ve boyutunu yazdır
            //console.log('Genişlik:', width);
            //console.log('Yükseklik:', height);
        }
    }
});

if (isDraging) {
            console.log('ss');

            canvas.addEventListener('mousedown', (e) => {
                const rect = canvas.getBoundingClientRect();
                startX = e.clientX - rect.left;
                startY = e.clientY - rect.top;
                console.log(`Başlangıç Koordinatları: (${startX}, ${startY})`);
            });

            canvas.addEventListener('mouseup', (e) => {
                const rect = canvas.getBoundingClientRect();
                endX = e.clientX - rect.left;
                endY = e.clientY - rect.top;
                console.log(`Bitiş Koordinatları: (${endX}, ${endY})`);
            });
        }
// Mouse hareketlerini izlemek için olay dinleyici ekle
canvas.addEventListener('mousemove', function(event) {
    // Fare konumunu al
    var rect = canvas.getBoundingClientRect();
    var mouseX = event.clientX - rect.left;
    var mouseY = event.clientY - rect.top;
    
    // Fare konumunu kanvasın koordinatlarına dönüştür
    var canvasX = Math.floor(mouseX * canvas.width / rect.width);
    var canvasY = Math.floor(mouseY * canvas.height / rect.height);
    
    // Fare konumunu ekrana yazdır
    document.getElementById('mouseCoordinates').innerText = 'X: ' + canvasX + ', Y: ' + canvasY;
});

// Canvas üzerine tıklandığında olay dinleyici ekle
canvas.addEventListener('click', function(event) {
    // Tıklanan noktanın koordinatlarını al
    var rect = canvas.getBoundingClientRect();
    var mouseX = event.clientX - rect.left;
    var mouseY = event.clientY - rect.top;
    var canvasX = Math.floor(mouseX * canvas.width / rect.width);
    var canvasY = Math.floor(mouseY * canvas.height / rect.height);

    // Her bir label için kontrol et
    labels.forEach(function(label) {
        // Label'ın verilerini al
        var labelX = parseFloat(label.dataset.x);
        var labelY = parseFloat(label.dataset.y);
        var labelW = parseFloat(label.dataset.w);
        var labelH = parseFloat(label.dataset.h);
        var labelId = label.dataset.id;
        
        // Eğer tıklanan nokta bir etiketin içinde ise
        if (canvasX >= labelX && canvasX <= labelX + labelW && canvasY >= labelY && canvasY <= labelY + labelH) {
            // Etiketin idsini yazdır
            //console.log('Tıklanan etiketin ID\'si:', labelId);
            // veya bir HTML öğesine yazdırabilirsiniz
            document.getElementById('delete-button-detail').innerText = 'Tıklanan etiketin ID\'si: ' + labelId;

            
            context.lineWidth = 1;
            context.strokeStyle = 'yellow';
            context.strokeRect(labelX, labelY, labelW, labelH);
            
            const allDetailsFrames = document.querySelectorAll('.label-details-frame');
            allDetailsFrames.forEach(frame => {
                if (frame.id !== labelId) {
                    frame.style.display = 'none';
                }
            });

            const clickedFrame = document.getElementById(`label-details-frame-${labelId}`);
            clickedFrame.style.display = clickedFrame.style.display === 'none' ? 'block' : 'none';
            
           
        }
    });
});

            
            function drawLabels() {
        
                // Resmi çiz
                var image = new Image();
                image.onload = function() {
                    canvas.width = image.width; // Canvas genişliğini resim genişliğiyle ayarla
                    canvas.height = image.height; // Canvas yüksekliğini resim yüksekliğiyle ayarla
                    context.drawImage(image, 0, 0, canvas.width, canvas.height); // Resmi çiz

                    // Kare çerçeveleri çiz
                    context.lineWidth = 1;
                    context.strokeStyle = 'red';
                    {% for label in labels %}
                        x_c={{ label.x }} - {{ label.w }}/2
                        x=x_c*image.width
                        y_c={{ label.y }} - {{ label.h }}/2
                        y=y_c*image.height
                        w={{ label.w }}*image.width
                        h={{ label.h }}*image.height
                        
                        //context.strokeRect({{ label.x }}, {{ label.y }}, {{ label.w }}, {{ label.h }});
                        //context.strokeRect({{ label.x }}*image.width*0.99, {{ label.y }}*image.height*0.97, {{ label.w }}*image.width, {{ label.h }}*image.height);
                        context.strokeRect(x, y, w, h);                    
                        //context.strokeRect({{ label.x }}*640, {{ label.y }}*640, {{ label.w }}*640, {{ label.h }}*640);

                    {% endfor %}
                };
                image.src = '{{ frame.frame.url }}'; // Resim dosyasının yolu
            }

            // Sayfa yüklendiğinde resmi ve kare çerçeveleri çiz
            window.onload = drawLabels;

            
          
        </script>
        <script>

            labels.forEach(label => {
                label.addEventListener('click', () => {
                    const id = label.getAttribute('data-id');
                    const details = document.getElementById(`label-details-${id}`);
                    details.classList.toggle('active');
                });
            });
        </script>
       
    </body>
</html>
