{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Ana Sayfa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>

    <h1>Sperm Detector</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-container">
            <input type="file" name="video" id="videoInput" accept="video/*" />
            <label for="videoInput" id="uploadText">Video Yükle</label>
        </div>
        <input type="submit" value="Analiz Et">
    </form>


    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
