{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Ana Sayfa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <h3>Welcome {{user.username|capfirst}}</h3>
    <h1>Sperm Detector</h1>
    

    <form method="POST" enctype="multipart/form-data" class="demo-form1">
        {% csrf_token %}
        <div class="form-row field-video_file">
            <div>
                <div class="flex-container">
                    <label class="f-title" for="id_video_file">Video file:</label>
                       
                        <input class="input" type="file" name="video_file" id="id_video_file"></p>
                </div>
            </div>
        </div>
        <button type="submit">Upload Video</button>
    </form>
    {% if frame %}
    <div>
        <a href="{% url 'labeling' frame_id=frame.id %}">
            <button value="Go Labeling">
                Go Labeling
            </button>
        </a>
        <a href="{% url 'user_video_frames_labels' user_video_id=user_video.id %}" download>
            <button>Download JSON</button>
        </a>
    </div>
    {% endif %}
</body>
</html>
