{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labeling</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/labeling.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    
</head>
    <body>
        <div class="labels-container">
            <h2>Labels</h2>
            <ul>
                {% for label in labels %}
                <div class="label-container">
                    <li class="label" data-x="{{ label.x|calc_x:label.w }}"data-y="{{ label.y|calc_y:label.h }}"data-w="{{ label.w|calc_w }}"data-h="{{ label.h|calc_h }}" data-id="{{ label.id }}" >{{ label.labels_class.class_name }}-{{ label.id }}</li>
                    <div class="label-details" id="label-details-{{ label.id }}">
                        <p>X: <span class="label-x">{{ label.x|calc_x:label.w }}</span></p>
                        <p>Y: <span class="label-y">{{ label.y|calc_y:label.h }}</span></p>
                        <p>Width: <span class="label-w">{{ label.w|calc_w }}</span></p>
                        <p>Height: <span class="label-h">{{ label.h|calc_h }}</span></p>
                        <p>track-id: {{label.track_id}}</p>
                        <a href="{% url 'delete_label' label_id=label.id %}">
                            <button >DELETE</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
        
        <div class="frame-container">
            <!-- Canvas elementini buraya ekleyin -->
            <p>{{frame.frame.url | basename | remove_extension }}/{{frame_last.frame.url | basename | remove_extension }}</p>
            <canvas id="myCanvas" class="frame-img"></canvas>

            <div id="mouseCoordinates"></div>
            <div id="delete-button-detail">

            </div>
            <form style="display: none;" id="label-form" action="{% url 'add_label' frame_id=frame.id %}" method="post">
                {% csrf_token %}
        
                <input id="x-input" name="x" step="0.000000000000001" type="number">
                <input id="y-input" name="y" step="0.000000000000001" type="number">
                <input id="w-input" name="w" step="0.000000000000001" type="number">
                <input id="h-input" name="h" step="0.000000000000001" type="number">
                <input id="id_labels_class"  name="labels_class" type="number">
                <input id="id_label_count"  name="labels_count" type="number">

                <button type="submit" style="display: none;">Add Label</button>
            </form>
            {% for label in labels %}
            <div class="label-detail-container">
                <div style="display: none;" class="label-details-frame" id="label-details-frame-{{ label.id }}">
                    
                    
                    <a style="text-decoration: none; color: white;" href="{% url 'delete_label' label_id=label.id %}">
                        <span>Label-{{ label.id }}</span><button class="label-details-frame-delete-button">DELETE</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="right">
            {% if frame_next_id != 0 %}
                <div class="nextBtn">
                    <a href="{% url 'labeling' frame_id=frame_next_id mode=mode option_count=option_count option_class=option_class %}">
                        <button id="id_next_frame_button" style="color: rgb(47, 65, 79);" class="back-button">
                            <i class="fa-solid fa-angles-right"></i>
                        </button>
                    </a>
                </div>
            {% else %}
                <div class="nextBtn">
                    <a href="{% url 'video' user_video_id=video.id %}">
                        <!-- Buraya 'home' url'ini kullanarak gitmek istediğiniz sayfanın bağlantısını ekleyebilirsiniz -->
                        <button id="id_next_frame_button" style="color: rgb(47, 65, 79);" class="back-button">
                            <i class="fa-solid fa-angles-right"></i>
                        </button>
                    </a>
                </div>
            {% endif %}
            <div class="homeBtn">
                <a href="{% url 'video' user_video_id=video.id %}">
                    <button style="color: rgb(47, 65, 79);" class="back-button">
                        <i class="fa-solid fa-house"></i>
                    </button>
                </a>
            </div>
            {% if frame_previous_id != 0 %}
                <div class="backBtn">
                    <a href="{% url 'labeling' frame_id=frame_previous_id mode=mode option_count=option_count option_class=option_class %}">
                        <button id="id_previous_frame_button" style="color: rgb(47, 65, 79);" class="back-button">
                            <i class="fa-solid fa-angles-left"></i>
                        </button>
                    </a>
                </div>
            {% endif %}
            
            <div class="updateBtn">
                {% if mode == 'drage' %}
                <a href="{% url 'labeling' frame_id=frame.id mode='select' option_count=option_count option_class=option_class %}">
                    <button id="update-labels-button"  style="background-color: #7FFF00;" class="back-button">
                {% else %} 
                <a href="{% url 'labeling' frame_id=frame.id mode='drage' option_count=option_count option_class=option_class %}">
                    <button id="update-labels-button" style="color: rgb(47, 65, 79);" class="back-button">
                {% endif %}
                        <i class="fa-solid fa-hand"></i>                    
                    </button>
            </div>
            <div class="drawBtn">
                {% if mode == 'draw' %}
                <a href="{% url 'labeling' frame_id=frame.id mode='select' option_count=option_count option_class=option_class %}">
                    <button id="draw-label-button" style="background-color: #7FFF00;" class="back-button">
                    {% else %}
                <a href="{% url 'labeling' frame_id=frame.id mode='draw' option_count=option_count option_class=option_class %}">
                    <button id="draw-label-button" style="color: rgb(47, 65, 79);" class="back-button">
                    {% endif %}
                        <i class="fa-solid fa-pencil"></i>                    
                    </button>
                </a>
            </div>
            <div class="draw-det">
                <div class="draw-count-container" style="border-bottom: solid 1px white;border-top: solid 1px white;">
                    <span style="color: white; border-bottom: solid 1px white; margin: 1px;">Draw Count</span>
                    {% for draw_count in draw_counts %}
                        {% if draw_count == option_count %}
                            <button id="selected-count-button" data-value="{{draw_count}}" disabled>
                                {{draw_count}}
                            </button>
                        {% else %}
                            <button onclick="redirectToURL('{% url 'labeling' frame_id=frame.id mode=mode option_count=draw_count option_class=option_class %}')">
                                {{draw_count}}
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="draw-class-container" style="border-bottom: solid 1px white;border-top: solid 1px white;">
                    <span style="color: white; border-bottom: solid 1px white; margin: 1px;">Draw Class</span>
                    {% for class in clases %}
                        {% if class.class_id == option_class %}
                    <button id="selected-class-button" data-value="{{class.id}}" disabled>
                        {{class.class_name}}
                            </button>
                        {% else %}
                            <button onclick="redirectToURL('{% url 'labeling' frame_id=frame.id mode=mode option_count=option_count option_class=class.class_id %}')">
                                {{class.class_name}}
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
                

            </div>

            
        </div>
        <script>
            function redirectToURL(url) {
                window.location.href = url;
            }
            function getDisabledButtonValue() {
            var selectedButton = document.getElementById('selected-count-button');
            var count = selectedButton.getAttribute('data-value');
            console.log(count);
            return count;
            
        }
        function getDisabledClassButtonValue() {
            var selectedButton = document.getElementById('selected-class-button');
            var class_id = selectedButton.getAttribute('data-value');
            console.log(class_id);
            return class_id;
        }
        document.addEventListener('keydown', function(event) {
            // Eğer basılan tuş sağ ok ise (KeyCode: 39)
            if (event.keyCode === 39) {
                // Butona tıklama işlemi gerçekleştir
                var nextFrameButton = document.getElementById('id_next_frame_button');
                if (nextFrameButton) {
                    nextFrameButton.click();
                }
            }
            if (event.keyCode === 37) {
                // Butona tıklama işlemi gerçekleştir
                var backFrameButton = document.getElementById('id_previous_frame_button');
                if (backFrameButton) {
                    backFrameButton.click();
                }
            }
            if (event.keyCode === 38) {
                console.log('üst ok')
                // Butona tıklama işlemi gerçekleştir
                last_mode='{{mode}}'
                if ( last_mode === 'select') {
                    var drawLabelButton = document.getElementById('draw-label-button');
                    drawLabelButton.click();
                }
                else {
                    var drageLabelButton = document.getElementById('update-labels-button');
                    drageLabelButton.click();
                }
                
            }
            if (event.keyCode === 40) {
                console.log('alt ok')
                // Butona tıklama işlemi gerçekleştir
                last_mode='{{mode}}'
                if ( last_mode === 'drage') {
                    var drawLabelButton = document.getElementById('draw-label-button');
                    drawLabelButton.click();
                }
                else {
                    var drageLabelButton = document.getElementById('update-labels-button');
                    drageLabelButton.click();
                }
                
            }

            if (event.keyCode === 46 || event.keyCode === 8) {
            // Tüm .label-details-frame elemanlarını seç
            var divs = document.querySelectorAll('.label-details-frame');
            console.log("delete click")
                // Her bir .label-details-frame elemanı için kontrol yap
                for (var i = 0; i < divs.length; i++) {
                    var div = divs[i];
                    // Eğer display değeri "none" değilse
                    if (div.style.display !== 'none') {
                        // İlk bulunan .label-details-frame içindeki .label-details-frame-delete-button butonuna tıklama
                        var button = div.querySelector('.label-details-frame-delete-button');
                        if (button) {
                            button.click();
                            // İlk bulunan elemanda işlemi gerçekleştirdiğimiz için döngüden çık
                            break;
                        }
                    }
                }
            }
        });
        </script>
        <script>
            // Resmin yüklendiğinde çalışacak olan fonksiyon
           // Canvas elementini seç
var canvas = document.getElementById('myCanvas');
var context = canvas.getContext('2d');
var labels = document.querySelectorAll('.label');
var startX, startY; // İlk tıklanan noktanın koordinatları
{% if mode == 'draw' %}
    var isDrawing = true; // Etiket çizimi devam ediyor mu?
    console.log('Drawing');
{% else %}
    var isDrawing = false; // Etiket çizimi devam ediyor mu?
    console.log('Not Drawing');
{% endif %}

{% if mode == 'drage' %}
    var isDragging = true; // Etiket çizimi devam ediyor mu?
    console.log('Dragging');
{% else %}
    var isDragging = false;
    console.log('Not Dragging');
{% endif %}

var dragLabel = null;
var offsetX, offsetY;
var option = {{option_count}};
console.log(option);
document.getElementById('draw-label-button').addEventListener('click', function() {
    if (isDrawing) {

        isDrawing = false;
    }
    else {
        isDrawing = true;
    }
    // İlk tıklama noktasının koordinatlarını sıfırla
    startX = null;
    startY = null;
});

canvas.addEventListener('click', function(event) {
    // Etiket çizimi devam ediyorsa
    if (isDrawing) {
        // Tıklanan noktanın koordinatlarını al
        var rect = canvas.getBoundingClientRect();
        var mouseX = event.clientX - rect.left;
        var mouseY = event.clientY - rect.top;

        // İlk noktayı belirle
        if (!startX && !startY) {
            startX = mouseX;
            startY = mouseY;
            startX = Math.floor(startX * canvas.width / rect.width);
            startY = Math.floor(startY * canvas.height / rect.height);
            console.log('İlk start (x,y):', startX, startY);

        } else {
            // İkinci noktayı belirle ve etiketi çiz

            mouseX = Math.floor(mouseX * canvas.width / rect.width);
            mouseY = Math.floor(mouseY * canvas.height / rect.height);
            console.log('2. nokta (x,y):', mouseX, mouseY);
            var tmp = 0;
            if (startX > mouseX) {
                tmp = startX;
                startX = mouseX;
                mouseX = tmp;
            }
            if (startY > mouseY) {
                tmp = startY;
                startY = mouseY;
                mouseY = tmp;
            }
            var width = mouseX - startX;
            var height = mouseY - startY;
            context.strokeRect(startX, startY, width, height);
            var disabledButtonValue = getDisabledButtonValue();
            var labels_class= getDisabledClassButtonValue();
            document.getElementById('x-input').value = parseFloat(startX);
            document.getElementById('y-input').value = parseFloat(startY);
            document.getElementById('w-input').value = parseFloat(width);
            document.getElementById('h-input').value = parseFloat(height);
            document.getElementById('h-input').value = parseFloat(height);
            document.getElementById('id_labels_class').value = labels_class;
            document.getElementById('id_label_count').value = disabledButtonValue;

            // Formu gönder
            document.getElementById('label-form').submit();

            // Etiket çizimini bitir
            isDrawing = false;
            // Etiket çizimini bitir
            isDrawing = false;

            // Etiketin koordinatlarını ve boyutunu yazdır
            console.log('Genişlik:', width);
            console.log('Yükseklik:', height);
        }
    }
});

// Mouse hareketlerini izlemek için olay dinleyici ekle
canvas.addEventListener('mousemove', function(event) {
    // Fare konumunu al
    var rect = canvas.getBoundingClientRect();
    var mouseX = event.clientX - rect.left;
    var mouseY = event.clientY - rect.top;
    
    // Fare konumunu kanvasın koordinatlarına dönüştür
    var canvasX = Math.floor(mouseX * canvas.width / rect.width);
    var canvasY = Math.floor(mouseY * canvas.height / rect.height);
    
    // Fare konumunu ekrana yazdır
    document.getElementById('mouseCoordinates').innerText = 'X: ' + canvasX + ', Y: ' + canvasY;
});

// Canvas üzerine tıklandığında olay dinleyici ekle
canvas.addEventListener('click', function(event) {
    // Tıklanan noktanın koordinatlarını al
    var rect = canvas.getBoundingClientRect();
    var mouseX = event.clientX - rect.left;
    var mouseY = event.clientY - rect.top;
    var canvasX = Math.floor(mouseX * canvas.width / rect.width);
    var canvasY = Math.floor(mouseY * canvas.height / rect.height);

    // Her bir label için kontrol et
    labels.forEach(function(label) {
        // Label'ın verilerini al
        var labelX = parseFloat(label.dataset.x);
        var labelY = parseFloat(label.dataset.y);
        var labelW = parseFloat(label.dataset.w);
        var labelH = parseFloat(label.dataset.h);
        var labelId = label.dataset.id;
        
        // Eğer tıklanan nokta bir etiketin içinde ise
        if (canvasX >= labelX && canvasX <= labelX + labelW && canvasY >= labelY && canvasY <= labelY + labelH) {
            // Etiketin idsini yazdır
            console.log('Tıklanan etiketin ID\'si:', labelId);
            // veya bir HTML öğesine yazdırabilirsiniz
            document.getElementById('delete-button-detail').innerText = 'Tıklanan etiketin ID\'si: ' + labelId;

            
            context.lineWidth = 4;
            context.strokeStyle = 'yellow';
            context.strokeRect(labelX, labelY, labelW, labelH);
            
            const allDetailsFrames = document.querySelectorAll('.label-details-frame');
            allDetailsFrames.forEach(frame => {
                if (frame.id !== labelId) {
                    frame.style.display = 'none';
                }
            });

            const clickedFrame = document.getElementById(`label-details-frame-${labelId}`);
            clickedFrame.style.display = clickedFrame.style.display === 'none' ? 'block' : 'none';
            
           
        }
    });
});

          
document.getElementById('update-labels-button').addEventListener('click', function() {
    labels.forEach(function(label) {
        label.addEventListener('mousedown', startDrag);
        label.addEventListener('mousemove', drag);
        label.addEventListener('mouseup', endDrag);
    });
});

function startDrag(event) {
    isDragging = true;
    dragLabel = event.target;
    var rect = canvas.getBoundingClientRect();
    var mouseX = event.clientX - rect.left;
    var mouseY = event.clientY - rect.top;

    offsetX = mouseX - parseFloat(dragLabel.dataset.x);
    offsetY = mouseY - parseFloat(dragLabel.dataset.y);
}

function drag(event) {
    if (isDragging && dragLabel) {
        var rect = canvas.getBoundingClientRect();
        var mouseX = event.clientX - rect.left;
        var mouseY = event.clientY - rect.top;

        var newX = mouseX - offsetX;
        var newY = mouseY - offsetY;

        dragLabel.dataset.x = newX;
        dragLabel.dataset.y = newY;
        
        drawLabels();
    }
}

function endDrag(event) {
    if (isDragging) {
        isDragging = false;
        updateLabel(dragLabel);
    }
}

function updateLabel(label) {
    var labelId = label.dataset.id;
    var x = parseFloat(label.dataset.x);
    var y = parseFloat(label.dataset.y);
    var w = parseFloat(label.dataset.w);
    var h = parseFloat(label.dataset.h);

    var formData = new FormData();
    formData.append('x', x);
    formData.append('y', y);
    formData.append('w', w);
    formData.append('h', h);

    fetch(`/update_label/${labelId}/`, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    }).then(response => {
        if (response.ok) {
            console.log('Label updated successfully');
        } else {
            console.error('Error updating label');
        }
    });
}

            function drawLabels() {
        
                // Resmi çiz
                var image = new Image();
                image.onload = function() {
                    canvas.width = image.width; // Canvas genişliğini resim genişliğiyle ayarla
                    canvas.height = image.height; // Canvas yüksekliğini resim yüksekliğiyle ayarla
                    context.drawImage(image, 0, 0, canvas.width, canvas.height); // Resmi çiz

                    // Kare çerçeveleri çiz
                    context.lineWidth = 1;
                    context.strokeStyle = 'red';
                    {% for label in labels %}
                        x_c={{ label.x }} - {{ label.w }}/2
                        x=x_c*image.width
                        y_c={{ label.y }} - {{ label.h }}/2
                        y=y_c*image.height
                        w={{ label.w }}*image.width
                        h={{ label.h }}*image.height
                        
                        //context.strokeRect({{ label.x }}, {{ label.y }}, {{ label.w }}, {{ label.h }});
                        //context.strokeRect({{ label.x }}*image.width*0.99, {{ label.y }}*image.height*0.97, {{ label.w }}*image.width, {{ label.h }}*image.height);
                        context.strokeRect(x, y, w, h);                    
                        //context.strokeRect({{ label.x }}*640, {{ label.y }}*640, {{ label.w }}*640, {{ label.h }}*640);

                    {% endfor %}
                };
                image.src = '{{ frame.frame.url }}'; // Resim dosyasının yolu
            }

            // Sayfa yüklendiğinde resmi ve kare çerçeveleri çiz
            window.onload = drawLabels;
        </script>
        <script>

            labels.forEach(label => {
                label.addEventListener('click', () => {
                    const id = label.getAttribute('data-id');
                    const details = document.getElementById(`label-details-${id}`);
                    details.classList.toggle('active');
                });
            });
        </script>
    </body>
</html>
