body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2a3240;;

}

button {
    margin-bottom: 10px;
}
.frame-container {
    position: relative;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    color: aliceblue;

}
.labels-container {
    width: 20%;
    height: 100vh;
    overflow-y:auto;
    overflow-x:visible;
    background: #181f2a;
    text-align: center;
    color: aliceblue;
}
.label-container {
   border: 1px solid;
   border-color: aliceblue;
}
.right {
    max-width: 5%;
    height: 58vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 42vh;
}
.frame-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.label {
    margin-top: 20px;
    list-style-type: none; /* Liste elemanlarının noktalarını kaldırır */
    text-decoration-color: aliceblue;
}

.label-details {
    display: none;
}

.label-details.active {
    display: block;
}

#delete-button-detail {
    display: none;
}

#delete-button-detail.active {
    display: block;
}